body {
  width: 1160px; }

.site-hd {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 4px; }
  .site-hd .logo {
    width: 270px;
    height: 85px; }
  .site-hd nav {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1rem;
    padding-bottom: 23px; }
    .site-hd nav a {
      color: #eee; }

.site-nav {
  position: relative;
  width: 100%;
  top: 3px; }
  .site-nav ul {
    background-image: linear-gradient(#ffffff, #d0d0d0);
    display: flex;
    justify-content: space-around; }
    .site-nav ul li {
      vertical-align: bottom;
      flex-grow: 1; }
      .site-nav ul li a {
        display: block;
        position: relative;
        height: 43px;
        line-height: 43px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(87, 89, 92, 0.8);
        text-shadow: 0px 1px 0px #fff;
        transition: background-color 0.1s;
        border-style: solid;
        border-color: #c2c2c2;
        border-width: 1px 0;
        letter-spacing: 1px;
        font-size: 12px;
        box-sizing: border-box; }
        .site-nav ul li a:hover {
          background-color: rgba(72, 85, 102, 0.16); }
        .site-nav ul li a.active {
          border-color: transparent;
          box-shadow: 0px 0px 1px 1px #c2c2c2;
          background-color: #ffffff;
          color: #282b2e;
          border-top: 3px solid #fff;
          position: relative;
          top: -3px; }

.section.col {
  font-size: 0; }
  .section.col > * {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem; }
  .section.col > * + * {
    margin-left: 20px; }

.site-bd .carousel {
  width: 666px; }
.site-bd .carousel-info {
  width: 274px;
  font-size: 12px; }
  .site-bd .carousel-info .newsletter {
    height: 227px; }
  .site-bd .carousel-info .testimonial {
    height: 156px; }
  .site-bd .carousel-info > * {
    position: relative;
    box-sizing: border-box;
    background-color: #dbdbdb;
    overflow: hidden;
    line-height: 2em; }
    .site-bd .carousel-info > * + * {
      margin-top: 20px; }
    .site-bd .carousel-info > * .head,
    .site-bd .carousel-info > * .main {
      margin: 10px; }
      .site-bd .carousel-info > * .head > *,
      .site-bd .carousel-info > * .main > * {
        margin-bottom: 10px; }
    .site-bd .carousel-info > * .foot {
      border-top: 1px solid #969696;
      text-align: center;
      background-color: #cacaca; }
      .site-bd .carousel-info > * .foot a {
        color: #696969; }
      .site-bd .carousel-info > * .foot .hList > * + *:before {
        background-color: #000; }
  .site-bd .carousel-info h1 {
    color: #282b2e;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: bold;
    border-bottom: 1px solid #969696;
    padding-bottom: 10px; }
  .site-bd .carousel-info fieldset {
    background-color: #cacaca;
    font-size: 12px;
    padding: 5px 10px; }
  .site-bd .carousel-info input[type=text] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
    border: 0;
    padding: 8px;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px #aaa inset; }
  .site-bd .carousel-info input[type=checkbox] {
    margin: 0;
    margin-right: 8px; }
  .site-bd .carousel-info p {
    font-style: italic;
    color: #696969; }
  .site-bd .carousel-info label {
    display: block;
    font-weight: bold;
    line-height: 1.9em; }
  .site-bd .carousel-info button,
  .site-bd .carousel-info .button {
    display: inline-block;
    border: 0;
    background-color: #0084d9;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 1em;
    padding: 0.5em 1em; }
  .site-bd .carousel-info blockquote {
    font-size: 14px;
    line-height: 1.3em; }
    .site-bd .carousel-info blockquote:before, .site-bd .carousel-info blockquote:after {
      content: "\""; }
  .site-bd .carousel-info .buttons {
    text-align: right; }

.social {
  background-image: url("../images/sprites.png"); }

.site-nav ul li a.active {
  position: relative;
  z-index: 100; }

.site-bd {
  position: relative;
  z-index: 101; }

/*# sourceMappingURL=themes.css.map */
