body{
    width:1160px;
}

.site-hd{
    position:relative;
    padding-left:0;
    padding-right:0;
    margin-bottom:4px;
    
    .logo{
        width:270px;
        height:85px;
    }
    nav {
        position:absolute;
        right:0;
        bottom:0;
        line-height:1rem;
        padding-bottom:23px;
        a{
            color:#eee;
        }
    }
}

.site-nav{
    position:relative;
    width:100%;
    top:3px;
    
    ul{
        background-image:linear-gradient(#ffffff, #d0d0d0);
        display:flex;
        justify-content:space-around;
        
        li{
            vertical-align:bottom;
            flex-grow:1;
            
            a{
                display:block;
                position:relative;
                height:43px;
                line-height:43px;
                text-align:center;
                text-transform:uppercase;
                font-weight:bold;
                color:rgba(87,89,92,0.8);
                text-shadow:0px 1px 0px #fff;
                transition:background-color 0.1s;
                border-style:solid;
                border-color:#c2c2c2;
                border-width:1px 0;
                letter-spacing:1px;
                box-sizing:border-box;
                
                &:hover{
                    background-color:rgba(72,85,102,0.16);
                }
                &.active{
                    border-color:transparent;
                    box-shadow:0px 0px 1px 1px #c2c2c2;
                    background-color:#ffffff;
                    color:#282b2e;
                    border-top:3px solid #fff;
                    position:relative;
                    top:-3px;
                }
            }
        }
    }
}

.section.col{
    font-size:0;
    
    & > *{
        display:inline-block;
        vertical-align:top;
        font-size:1rem;
    }
    
    & > * + *{
        margin-left:20px;
    }
}

.site-bd{
    
    .carousel{
        width:666px;
    }
        
    .carousel-info{
        width:274px;
        
        .newsletter{
            height:227px;
        }
        .testimonial{
            height:156px;
        }
        & > *{
            position:relative;
            box-sizing:border-box;
            background-color:#dbdbdb;
            overflow:hidden;
            & + *{
                margin-top:20px;
            }
            .head,
            .main{
                margin:10px;
                
                & > *{
                    margin-bottom:10px;
                }
            }
            .head{
                border-bottom:1px solid #969696;
            }
            .main{

            }
            .foot{
                position:absolute;
                bottom:0;
                left:0;
                width:100%;
                border-top:1px solid #969696;
                text-align:center;
                background-color:#cacaca;
                
                a{
                    color:#696969;
                }
                .hList a{
                    line-height:2em;
                }
                .hList > * + *:before{
                    background-color:#000;
                }
            }
        }
        h1{
            color:#282b2e;
            text-transform:uppercase;
            font-weight:bold;
        }
        fieldset{
            background-color:#cacaca;
            padding:10px;
            
            input[type=checkbox]{
                margin:0;
                margin-right:10px;
            }
            label{
                display:block;
                font-size:0;
                margin-top:10px;
                span{
                    font-size:1rem;
                    font-weight:bold;
                }
            }
        }
        input[type=text]{
            display:block;
            width:100%;
            box-sizing:border-box;
            font-size:1rem;
            height:26px;
            border:0;
            padding:10px;
            box-shadow:0px 0px 5px 0px #aaa inset;
        }
        p{
            font-style:italic;
            color:#696969;
        }
        button,
        .button{
            display:inline-block;
            border:0;
            background-color:#0084d9;
            text-transform:uppercase;
            color:#fff;
            line-height:2.5em;
            padding:0 1em;
        }
        blockquote{
            font-size:14px;
            line-height:1.3em;
            
            &:before,
            &:after{
                content:"\"";
            }
        }
        .buttons{
            text-align:right;
        }
    }
}


.social{
    background-image:url("../images/sprites.png");
}

$icons: (
    pencil:     -86px -26px,
    envelope:   -86px -38px
);
.icon{
    &:before{
        content:"";
        display:inline-block;
        height:12px;
        width:12px;
        vertical-align:top;
        margin-right:10px;
        background-image:url("../images/sprites.png");
        background-repeat:no-repeat;
    }
    @each $icon, $value in $icons{
        &.i-#{$icon}:before{
            background-position: $value;
        }
    }
}


.site-nav ul li a.active{
    position:relative;
    z-index:100;
}
.site-bd{
    position:relative;
    z-index:101;
}
